<aside>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <ul class="social-icons">
        <li>
            <a target="_blank" title="GitHub" href="https://git.uwaterloo.ca/m48shari/cs346-project/-/wikis/home">
                <i class="fa  fa-github"></i><span>GitHub</span>
            </a>
        </li>
        <li>
            <a target="_blank" title="Mail" href="mailto: mahan9879@gmail.com">
                <i class="fa fa-mail-forward fa-1x"></i><span>Gmail</span>
            </a>
        </li>      
    </ul>
</aside>